@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Low-Latency Smooth Scroll Framework */
html {
  scroll-behavior: smooth;
  background-color: #000000;
}

/* Custom Webkit Scrollbar Token Mapping */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00f2fe;
}
